*{
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
}
main{
    width: 1366px;
    height: 2000px;
    background-color: azure;
    margin: 0 auto;
}
header{
    width: 1366px;
    height: 200px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

/* Estilos para el encabezado */
nav{
    width: 1366px;
    height: 50px;
    background-color: #d2ece1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}
nav a{
    color: whitesmoke;
    text-decoration: none;
    padding: 6px;
    font-family: "Shadows Into Light", cursive;
    font-size: 24px;
    transition: .8s;
    /*line-height: 50px;*/
}
nav a:hover{
    background-color: #3c7f72;
    transform: scale(1.2);
}
section{
    width: 1366px;
    height: 1500px;
    background-color: #d2ece1;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 5px 0;
}
